@{
    Layout = null;
	string Token = AppState["Token"].ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hosts Manager</title>
</head>
<body>
    <div>
		@Token
    </div>
</body>
</html>
