@{
    Layout = null;
	string Token = System.Configuration.ConfigurationManager.AppSettings["token"].ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hosts Manager</title>
</head>
<body style="margin:50px; padding:30px;z-index:10">
    <div>
		@Token

		<div id="box" style="position:fixed; border-width:2px; border-style: solid; width:200px; margin:5px; padding:3px;">HELLO</div>
		
    </div>
</body>
</html>
